@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'IntegralCF-Heavy';
    src: url('/fonts/Fontspring-DEMO-integralcf-bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@keyframes rotate {
    from {
        scale: 1.5 1;
        /* rotate: 0deg; */
    }

    25% {
        scale: 1 1;
    }

    50% {
        scale: 1 1.5;
    }

    75% {
        scale: 1 1;
    }

    to {
        scale: 1.5 1;
        /* rotate: 360deg; */
    }
}

#blobl {
    animation: rotate 20s infinite;
}